body{
	font-family: 'Quicksand', sans-serif;
}

/*splash styling*/
#splash{
	width: 100%;
	height: 100vh;
	background: url('../images/splash.jpg') center center no-repeat;
	-webkit-background: url('../images/splash.jpg') center center no-repeat;
	-o-background: url('../images/splash.jpg') center center no-repeat;
	-moz-background: url('../images/splash.jpg') center center no-repeat;
	-ms-background: url('../images/splash.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}
.overlay{
	background: rgba(0,0,0,0.5);
}
.main-container{
	width: 100%;
	height: 100vh;
	display: table;
}
.text-vertical-center{
	width: 100%;
	height: 100vh;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
/*end of splash styling*/

/*experiment links */
.contents-head{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#contents hr{
	width: 5%;
	margin-bottom: 30px;
	border: 1px solid grey;
}
.content-box{
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
}
.boxx{
	width: 100%;
	height: 80px;
	background: grey;
	color: white;
	display: table;
}
.boxx:hover{
	background: black;
	color: white;
	display: table;
	transition: all 0.5s ease-in-out;
}
.vertical-center{
	width: 100%;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#contents a{
	text-decoration: none;
}
#contents a:hover{
	text-decoration: none;
}
/*end experiment links*/

/*footer*/
#footer{
	height: auto;
	background-color: #37393c;
	color: white;
	text-align: center;
}
#footer a{
	color: #00d3ee;
}
/*end footer*/